// for light theme
$light-white: #f3f6f6;
$common-black: #000;
$primary-blue: #1b74e4;
$theme-secondary: #fa5252;
$body-text: #44566c;
$body-heading: #000;
$heading-black: #0f172a;
$light-white: #f3f6f6;
$light-white-2: #f8fbfb;
$prink: #fff4f4;
$catkrill: #eef5fa;
$cyan: rgb(252, 244, 255);
$rose: rgb(255, 240, 248);
$yellow: rgb(254, 250, 240);



//for dark theme
$common-white: #000;
$common-black: #fff;
$theme-primary: #1b74e4;
$theme-secondary: #fa5252;
$body-text: #a6a6a6;
$body-heading: #fff;
$heading-black: #0f172a;
$light-white: #f3f6f6;
$light-white-2: #f8fbfb;
$prink: #fff4f4;
$catkrill: #eef5fa;

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-image: url('../images/page-bg-light.jpg');
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line {
  height: 2px;

}

.profileSidebar {


  // margin-top: 100px !important;
  .profile {
    background-color: $heading-black;
    top: -200px;

    img {
      height: 250px;
      width: 100%;
    }
  }

  .profile-designation {
    background-color: $light-white;
  }

  i {
    background-color: $light-white ;
  }

  .fa-facebook-f {
    color: #1773ea;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #1773ea;
      color: #fff;
      transition: all 0.3s ease-in-out;

    }
  }

  .fa-twitter {
    color: #1c9cea;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #1c9cea;
      color: #fff;
      transition: all 0.3s ease-in-out;

    }
  }

  .fa-instagram {
    color: #e12a72;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #e12a72;
      color: #fff;
      transition: all 0.3s ease-in-out;

    }
  }

  .fa-linkedin-in {
    color: #144679;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #144679;
      color: #fff;
      transition: all 0.3s ease-in-out;

    }
  }

  .card {
    padding-top: 120px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  .contact-details {
    background-color: $light-white;

    i {
      font-size: 25px;
    }

    .fa-mobile-screen {
      color: #e93b81 !important;
    }

    .fa-envelope-open-text {
      color: #6ab5b9 !important;
    }

    .fa-location-dot {
      color: #fd7590 !important;
    }

    .fa-calendar-days {
      color: #c17ceb !important;
    }

    .list-items {
      p:nth-child(1) {
        font-size: 13px !important;
      }
    }

    .icon {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }

  button {
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $light-white;
      border: 1px solid $primary-blue;
      transition: all 0.3s ease-in-out;
      color: #000 !important;

      i {
        color: #000 !important;
      }
    }

    i {
      background-color: transparent !important;

    }
  }
}

.menuSidebar {
  ul {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  }

  .list-item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    background-color: $light-white;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;

      background-color: $primary-blue;

      a {
        color: #fff !important;

        i {
          color: #fff !important;
        }
      }

    }
  }

  a {
    font-size: 13px;

    i {
      color: #292828 !important;
      font-size: 32px !important;
    }

    &:hover {
      color: #fff !important;
    }
  }
}


.about {

  .col-6:nth-child(1) .card{
    background-color: $rose;
  }
  .col-6:nth-child(2) .card{
    background-color: $catkrill;
  }
  .col-6:nth-child(3) .card{
    background-color: $catkrill;
  }
  .col-6:nth-child(4) .card{
    background-color: $rose;
  }
  .fa-swatchbook {
    color: #d566ff;
  }

  .bi-grid {
    color: #ff6080;
  }

  .fa-camera-retro {
    color: #ff6080;
  }

  .bi-code-slash {
    color: #269fff;
  }

  .client{
    background-color: $light-white;
  }
}