body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  background-image: url("../images/page-bg-light.jpg");
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.line {
  height: 2px;
}

.profileSidebar .profile {
  top: -200px;
}
.profileSidebar .profile img {
  height: 250px;
  width: 100%;
}
.profileSidebar .fa-facebook-f {
  color: #1773ea;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-facebook-f:hover {
  background-color: #1773ea;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-twitter {
  color: #1c9cea;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-twitter:hover {
  background-color: #1c9cea;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-instagram {
  color: #e12a72;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-instagram:hover {
  background-color: #e12a72;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-linkedin-in {
  color: #144679;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .fa-linkedin-in:hover {
  background-color: #144679;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.profileSidebar .card {
  padding-top: 120px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.profileSidebar .contact-details i {
  font-size: 25px;
}
.profileSidebar .contact-details .fa-mobile-screen {
  color: #e93b81 !important;
}
.profileSidebar .contact-details .fa-envelope-open-text {
  color: #6ab5b9 !important;
}
.profileSidebar .contact-details .fa-location-dot {
  color: #fd7590 !important;
}
.profileSidebar .contact-details .fa-calendar-days {
  color: #c17ceb !important;
}
.profileSidebar .contact-details .list-items p:nth-child(1) {
  font-size: 13px !important;
}
.profileSidebar .contact-details .icon {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.profileSidebar button {
  transition: all 0.3s ease-in-out;
}
.profileSidebar button:hover {
  border: 1px solid #1b74e4;
  transition: all 0.3s ease-in-out;
}
.profileSidebar button i {
  background-color: transparent !important;
}

.menuSidebar ul {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.menuSidebar .list-item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: all 0.3s ease-in-out;
}
.menuSidebar .list-item:hover {
  transition: all 0.3s ease-in-out;
}
.menuSidebar a {
  font-size: 13px;
}
.menuSidebar a i {
  font-size: 32px !important;
}

.about .col-md-6:nth-child(1) .card {
  background-color: rgb(255, 240, 248);
}
.about .col-md-6:nth-child(2) .card {
  background-color: #eef5fa;
}
.about .col-md-6:nth-child(3) .card {
  background-color: #eef5fa;
}
.about .col-md-6:nth-child(4) .card {
  background-color: rgb(255, 240, 248);
}
.about .fa-swatchbook {
  color: #d566ff;
}
.about .bi-grid {
  color: #ff6080;
}
.about .fa-camera-retro {
  color: #ff6080;
}
.about .bi-code-slash {
  color: #269fff;
}
.about .client {
  background-color: #f3f6f6;
}

.resume {
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
}
.resume i {
  color: #1b74e4;
}
.resume .col-md-6:nth-child(1) .card:nth-child(2) {
  background-color: #fff4f4 !important;
}
.resume .col-md-6:nth-child(1) .card:nth-child(3) {
  background-color: #eef5fa !important;
}
.resume .col-md-6:nth-child(1) .card:nth-child(4) {
  background-color: #fff4f4 !important;
}
.resume .col-md-6:nth-child(2) .card:nth-child(2) {
  background-color: #eef5fa !important;
}
.resume .col-md-6:nth-child(2) .card:nth-child(3) {
  background-color: #fff4f4 !important;
}
.resume .col-md-6:nth-child(2) .card:nth-child(4) {
  background-color: #eef5fa !important;
}
.resume .skillSection {
  background-color: #f3f6f6 !important;
}
.resume .skillSection .skills .skills-list:nth-child(2) .progress-bar {
  background-color: #fa5252;
}
.resume .skillSection .skills .skills-list:nth-child(3) .progress-bar {
  background-color: #9272d4;
}
.resume .skillSection .skills .skills-list:nth-child(4) .progress-bar {
  background-color: #1b74e4;
}
.resume .skillSection .skills .skills-list:nth-child(5) .progress-bar {
  background-color: #ca56f2;
}
.resume .skillSection .badge {
  background-color: #edf2f2 !important;
}
.resume .skillSection .badge p {
  color: #44566c !important;
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
}

.light-mode .profileSidebar .profile {
  background-color: #0f172a;
}
.light-mode .profileSidebar .profile-designation {
  background-color: #f3f6f6;
}
.light-mode .profileSidebar i {
  background-color: #f3f6f6;
}
.light-mode .profileSidebar .contact-details {
  background-color: #f3f6f6;
}
.light-mode .profileSidebar button:hover {
  background-color: #f3f6f6;
  color: #000 !important;
}
.light-mode .profileSidebar button:hover i {
  color: #000 !important;
}
.light-mode .menuSidebar .list-item {
  background-color: #f3f6f6;
}
.light-mode .menuSidebar .list-item:hover {
  background-color: #1b74e4;
}
.light-mode .menuSidebar .list-item:hover a {
  color: #fff !important;
}
.light-mode .menuSidebar .list-item:hover a i {
  color: #fff !important;
}
.light-mode .menuSidebar a i {
  color: #292828 !important;
}
.light-mode .menuSidebar a:hover {
  color: #fff !important;
}

.dark-mode .heading {
  color: #f3f6f6 !important;
}
.dark-mode .profileSidebar .profile {
  background-color: #546f84;
}
.dark-mode .profileSidebar h4 {
  color: #f3f6f6;
}
.dark-mode .profileSidebar .profile-designation {
  color: #a6a6a6 !important;
  background-color: #1d1d1d !important;
}
.dark-mode .profileSidebar i {
  background-color: #1d1d1d;
}
.dark-mode .profileSidebar .card {
  background-color: #000 !important;
}
.dark-mode .profileSidebar .contact-details {
  background-color: #1d1d1d;
  color: #f3f6f6;
}
.dark-mode .profileSidebar .contact-details .list-items p:nth-child(1) {
  color: #a6a6a6 !important;
}
.dark-mode .profileSidebar .contact-details .icon {
  background-color: #000 !important;
}
.dark-mode .profileSidebar button:hover {
  background-color: #1d1d1d;
  color: #fff !important;
}
.dark-mode .profileSidebar button:hover i {
  color: #fff !important;
}
.dark-mode .menuSidebar ul {
  background-color: #000 !important;
}
.dark-mode .menuSidebar .list-item {
  background-color: #1d1d1d;
}
.dark-mode .menuSidebar .list-item:hover {
  background-color: #1b74e4;
}
.dark-mode .menuSidebar .list-item:hover a {
  color: #fff !important;
}
.dark-mode .menuSidebar .list-item:hover a i {
  color: #fff !important;
}
.dark-mode .menuSidebar a i {
  color: #f3f6f6 !important;
}
.dark-mode .menuSidebar a:hover {
  color: #f3f6f6 !important;
}
.dark-mode .about .card {
  background-color: #000 !important;
}
.dark-mode .about .card p {
  color: #a6a6a6 !important;
}
.dark-mode .about .col-md-6 .card {
  border: 1px solid #1d1d1d !important;
}

/*# sourceMappingURL=style.css.map */
